* {
    box-sizing: border-box;
}

body {
    color: white; 
    background-color: black;
}


h1 {
    font-family: elevon, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 2.5rem;
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}
/*
h3 {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
}

#topRightSec {
    margin: 0 auto;
}

.metabtn {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    width: 46%;
    margin: 0 1.5%;
}

#ingrArticleOptions {
    display: flex;
    flex-wrap: wrap;
}

.ingrArticle {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    margin: 5% auto;
}

.option {
    justify-self: center;
}

.tradegoodImg {
    max-height: 100px;
    width:fit-content;
    display: block;
    margin: 0 auto;
    border: 3px white solid;
    border-radius: 6px;
}

.ingrInputDiv {
    padding: 1rem;
    align-items: center;
    display: flex;
}

.ingrPic {
    max-width: 100px;
}*/