/*----------------------GENERAL SETUP----------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: elza-text, sans-serif;
    font-weight: 400;
    color: white; 
    background-color: black;
    max-width: 450px;
    margin: 0 auto;
}

h1, h2 {
    font-family: good-times, sans-serif;
}

.amtTradeGood, .tradeGoodNameInputDiv {
    font-weight: bolder;
}
/*----------------------HEADER----------------------*/

#nmsLogo {
    display: block;
    width: 90%;
    margin:20px auto 0;
    filter: invert(1);
    max-width: 550px;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin: 5px 0 20px;
}

#metaBtnSection {
    margin: 10px 3%;
    display: flex;
    justify-content: space-around;
}

.metabtn {
    padding: 3.5%;
    width:45%;
    margin: 0 1.5%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    font-style: normal;
    text-align: center;
}

#helpSection p {
    font-size: 18px;
    line-height: 28px;
}

/*----------------------TRADE GOOD OPTIONS----------------------*/

h3 {
    font-size: 1.5rem;
}

#divOfOptions {
    margin: 0 3%;
}

.ingrArticle {
    display: flex;
    margin: 10px 2%;
    align-items: center;
    position: relative;
}

.tradegoodImg {
    width: 30%;
    height: 30%;
    border: 3px white solid;
    border-radius: 6px;
    box-shadow: white 1px 1px 10px;
}

.option {
    color: white;
    background: none;
    border: none;
    font-family: fenwick, sans-serif;
    font-size: 18px;
    margin-left: 5px;
    padding: 10% 0;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    align-self: center;
}

.option:hover:before {
    opacity: 0.1;
}

.option::before {
    content: "";
    position: absolute;
    display: block;
    width: 65%;
    height: 90%;
    opacity: 0.3;
    top: 5%;
    left: 34.5%;
    background-color: white;
    border-radius: 8px;
}

/*----------------------INGREDIENT INPUT SECTION----------------------*/

#divOfInputs {
    margin: 0 3%;
}

.ingrInputDiv {
    display: flex;
    margin: 1rem auto;
}

.ingrPic {
    width: 30%;
    height: 30%;
    border: #888 solid 3px;
    border-radius: 8px;
    margin-right: 2%;
}

.ingrInputRightDiv {
    margin: auto 0;
}

.ingrInputRightDiv label{
    font-size: 24px;
    display: block;
    font-family: fenwick, sans-serif;
    text-transform: capitalize;
}

.ingrInputRightDiv input {
    font-family: fenwick, sans-serif;
    font-weight: 300;
}

#ingredientSubmit {
    font-family: elza-text, sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
}

/*----------------------RESULTS SECTION----------------------*/

h3 a {
    color: #a03d3d;
}

h3 a:visited {
    color: #591d6b;
}

/*
h3 {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
}

#topRightSec {
    margin: 0 auto;
}

#ingrArticleOptions {
    display: flex;
    flex-wrap: wrap;
}

.ingrArticle {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    margin: 5% auto;
}

.option {
    justify-self: center;
}

.tradegoodImg {
    max-height: 100px;
    width:fit-content;
    display: block;
    margin: 0 auto;
    border: 3px white solid;
    border-radius: 6px;
}

.ingrInputDiv {
    padding: 1rem;
    align-items: center;
    display: flex;
}

.ingrPic {
    max-width: 100px;
}*/

